<div class="d-flex flex-row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="well wellheightwidth">
      <label><h3><b>Temprature</b></h3></label>
      <h1 class="text-success"> {{ temprature }} &#8451;</h1>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="well wellheightwidth ml-auto ">
        <label><h3><b>Pressure</b></h3></label>
        <h1 class="text-success"> {{ pressure1 }} &psi;</h1>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
