<div class="container">
  <div class="row">
      <div class="col-md-4  col-sm-3 "></div>
        <div class="col-md-4 mt-5 col-sm-6 ">
              <div class="panel panel-info">
                    <div class="panel-heading">
                          <h2 class="panel-title text-center">Sign Up</h2>
                    </div>
                    <div class="panel-body">
                        <app-message></app-message>
                      <form [formGroup]="signupForm"(ngSubmit)="onSubmit()">

                        <div class="form-group">
                          <label >Full Name</label>
                          <input type="text" formControlName="fullname"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': btnSubmitted && sign.fullname.errors }" >
                          <div *ngIf="btnSubmitted && sign.fullname.errors" class="invalid-feedback">
                              <div *ngIf="sign.fullname.errors.required">
                                FullName is required!!!
                              </div>
                          </div>

                        </div>
                        <div class="form-group">
                          <label >Contact number</label>
                          <input type="text" formControlName="contactNo"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': btnSubmitted && sign.contactNo.errors }" >
                          <div *ngIf="btnSubmitted && sign.contactNo.errors" class="invalid-feedback">
                              <div *ngIf="sign.contactNo.errors.required">
                                FullName is required!!!
                              </div>
                          </div>

                        </div>
                        <div class="form-group">
                          <label >User Name</label>
                          <input type="text" formControlName="username"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': btnSubmitted && sign.username.errors }" >
                          <div *ngIf="btnSubmitted && sign.username.errors" class="invalid-feedback">
                              <div *ngIf="sign.username.errors.required">
                                Username is required!!!
                              </div>
                          </div>

                        </div>
                        <div class="form-group">
                          <label >Password</label>
                          <input type="password" formControlName="password" class="form-control"
                          [ngClass]="{ 'is-invalid': btnSubmitted && sign.password.errors }" >
                          <div *ngIf="btnSubmitted && sign.password.errors" class="invalid-feedback">
                            <div *ngIf="sign.password.errors.required">
                              Password is required!!!
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <button class="btn btn-primary btn-block">Sign Up</button>
                         </div>
                      </form>
                    </div>
              </div>
        </div>
        <div class="col-md-4   col-sm-3 "></div>
  </div>
</div>
